#info-banner {
  font-family: "Oxianium";
  text-align: center;
  background-image: url("../assets/images/code-banner.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  padding: 280px 0;
}

.overlay-banner {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #000000a6, #141414);
}

.banner-titles {
  position: relative;
  margin: auto;
  z-index: 2;
  text-align: center;
}

.banner-titles .name,
.begin-animation .name {
  background: linear-gradient(
    to left,
    var(--DarkGreen),
    var(--MainGreen),
    var(--MainGreen),
    var(--DarkGreen)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-size: 200% 50%;
}

.banner-titles .name {
  position: relative;
  color: var(--MainGreen);
  font-size: 6.5rem;
  margin: 0 auto;
}

.begin-animation.name {
  animation: gradientName 6s linear infinite;
}

.banner-titles .role {
  color: var(--white);
  font-size: 1.5rem;
  font-family: "Oxianium";
  margin-top: 5px;
  letter-spacing: 3px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem auto 0 auto;
  gap: 25px;
}

.links img {
  position: relative;
  width: 75px;
  height: 75px;
  background-color: var(--LighterBlack);
  padding: 15px;
  border-radius: 8px;
  border: 1px solid var(--DarkGreen);
  cursor: pointer;
  transition: 0.2s;
}

.links img:hover {
  transform: translateX(5px) !important;
  transform: translateY(-5px) !important;
  box-shadow: 5px 5px var(--DarkGreen);
}

@keyframes gradientName {
  0% {
    text-shadow: 5px 0px 10px transparent;
    background-position: 0 0;
  }

  45% {
    background-position: -100% 50%;
    text-shadow: 5px 0px 10px var(--DarkGreen);
  }

  100% {
    background-position: -200% 50%;
    text-shadow: 5px 0px 10px 5px transparent;
  }
}

@media screen and (max-width: 748px) {
  #info-banner {
    padding: 10rem 0;
  }
}

@media screen and (max-width: 530px) {
  .banner-titles .name {
    font-size: 4rem;
  }

  .banner-titles .role {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 380px) {
  #info-banner {
    height: 100vh;
    padding-top: 35vh;
  }
}
