.menu {
  width: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  border-radius: 10px;
  padding: 10px 75px;
  backdrop-filter: blur(10px);
}

.menu ul {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 3rem;
  padding: 25px 0 15px 0;
}

.menu ul li a {
  color: var(--white);
  font-size: 1rem;
  font-family: "Oxianium";
  font-weight: 200;
}

.menu ul li a {
  padding: 15px;
  border-radius: 5px;
  transition: 0.2s;
}

.menu ul li:hover a {
  background-color: var(--LighterBlack);
}

.menu ul li.active a {
  background-color: var(--DarkGreen);
}

.line {
  position: relative;
  width: 25px;
  height: 3px;
  background-color: var(--MainGreen);
  margin: 5px 0;
  transition: 0.3s;
}

.line:nth-last-child(2) {
  transform: translateX(5px);
}

.menu-opened.menu .line:nth-child(1) {
  transform: rotate(45deg);
  transform-origin: 0 50%;
  left: 4px;
}

.menu-opened.menu .line:nth-child(2) {
  transform: translateX(200%);
}

.menu-opened.menu .line:nth-child(3) {
  transform: rotate(-45deg);
  transform-origin: 0 50%;
  left: 4px;
  top: 2px;
}

.hamburguer {
  display: none;
}

@media screen and (max-width: 748px) {
  .menu {
    left: 0;
    transform: translateX(0);
    padding: 10px 25px;
    width: unset;
    backdrop-filter: none;
  }

  .menu ul {
    position: absolute;
    width: max-content;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 50px;
    background-color: var(--TransparentBG);
    backdrop-filter: blur(10px);
    padding: 35px;
    border-radius: 10px;
    top:100%;
    left: 30px;
    transform: translateX(-150%);
    transition: 0.3s;
  }

  .menu-opened.menu ul {
    transform: translateX(0);
  }

  .hamburguer {
    width: max-content;
    position: relative;
    cursor: pointer;
    z-index: 35;
    transition: 0.3s;
    padding: 15px;
    background-color: var(--LighterBlack);
    margin-bottom: 5px;
    border-radius: 10px;
    overflow: hidden;
    display: block;
  }

  .menu-opened.menu .hamburguer {
    box-shadow: inset 0 0 5px 0 var(--MainGreen);
  }
}

@media screen and (max-width: 400px) {
  .title {
    font-size: 2.5rem;
  }
}
