.menu {
  width: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  border-radius: 10px;
  padding: 10px 75px;
  backdrop-filter: blur(10px);
}

.menu ul {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5rem;
  padding: 25px 0 15px 0;
}

.menu ul li a {
  color: var(--white);
  font-size: 1rem;
  font-family: "Oxianium";
  font-weight: 200;
}

.menu ul li a {
  padding: 15px;
  border-radius: 5px;
  transition: 0.2s;
}

.menu ul li:hover a{
  background-color: var(--LighterBlack);
}

.menu ul li.active a {
  background-color: var(--DarkGreen);
}

@media screen and (max-width: 748px) {
  .menu {
    backdrop-filter: none;
  }

  .menu ul {
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 15px;
  }
}

@media screen and (max-width: 400px) {
  .title {
    font-size: 2.5rem;
  }
}
