.projects .synonim,
.projects .title {
  text-align: center;
}

.projects-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;

  margin-top: 6rem;
}

.projects-box {
  text-align: start;
  color: var(--textColor);
}

.project-img {
  position: relative;
  overflow: hidden;

  border: 1px solid var(--MainGreen);
  border-radius: 8px;

  cursor: pointer;
  transition: 0.3s;
}

.projects-box img {
  width: 100%;
  height: 350px;
  object-fit: cover;

  display: flex;
}

.tags {
  position: absolute;
  bottom: -20%;
  left: 0;

  width: 100%;
  padding: 20px 10px;

  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.822));
  color: var(--backgroundColor);
  font-family: "Oxianium";
  transition: 0.3s;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.tags p {
  background: var(--MainGreen);
  font-size: 0.8rem;
  border-radius: 5px;

  padding: 10px;
}

.projects-box:hover .tags {
  bottom: 0;
}

.projects-box:hover .project-img {
  box-shadow: 0 0 10px 5px var(--DarkGreen);
}

.project-name {
  font-family: "Oxianium";
  font-size: 1.5rem;
  margin: 1.5rem 0;
  color: var(--white);
}

.project-description {
  font-family: "Lato";
  line-height: 1.4rem;
  font-size: 0.9rem;
}
