#skills {
  position: relative;
  margin-top: 10rem;
  box-shadow: 0 10px 10px 0 #00000048;
  background: var(--backgroundColor);
  margin-bottom: 300px;

  padding: 10rem 0;
}

.skills-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  flex-wrap: wrap;
  z-index: 7;
  bottom: 55px;
}

.skills-wrapper ul {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: max-content;
  max-width: 100%;
  margin: 0 auto;
  color: var(--white);
  font-family: "Oxianium";
  justify-content: center;
}

.skills-wrapper li {
  width: max-content;
  padding: 10px;
  text-align: center;
  background-color: var(--backgroundColor);
  font-size: 1.1rem;
  border-radius: 5px;
  border: 1px solid var(--DarkGreen);
  transition: 0.3s;
}

.skills-wrapper li:hover {
  background-color: var(--LighterBlack);
  box-shadow: 5px 5px var(--DarkGreen);
  transform: translateX(5px);
  transform: translateY(-5px);
}

.skills-box img {
  width: 120px;
  max-width: 100%;
  height: 70px;
  margin: 0 auto;
}

.skills-wrapper p {
  font-size: 0.8rem;
  margin-top: 5px;
}

.skills-box {
  width: 55%;
  background-color: var(--TransparentBG);
  backdrop-filter: blur(2px);
  padding: 40px 15px;
  border-radius: 8px;
  box-shadow: 12px 12px 3px 0 #0000006b;
}

#skills .decoration {
  position: absolute;
  top: 0;
  right: 0;
  width: 450px;
  max-width: 40%;
  height: 80%;
  background: linear-gradient(to right, var(--MainGreen), var(--DarkGreen));
  background-size: 100% 50%;
  border-radius: 120px 0 0 120px;
  animation: animationGradient 3s ease-in-out infinite;
  overflow: hidden;
}

#skills .arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 45%);
  width: 55px;
  height: 75px;
  background-color: var(--MainGreen);
  z-index: 3;
  text-align: center;
  padding: 10px 0;
  border-radius: 5px;
  overflow: hidden;
}

#skills .arrow img {
  position: absolute;
  width: 30px;
  left: 51%;
  transform: translate(-50%, 0);
  height: 55px;
  animation: animationArrow 1s infinite ease-out backwards;
}

#skills .arrow img:nth-child(2) {
  animation: animationArrow 1s 0.25s infinite ease-out backwards;
}

#skills .arrow img:nth-child(3) {
  animation-delay: 2s;
  animation: animationArrow 1s 0.5s infinite ease-out backwards;
}

#particleCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
}

@keyframes animationArrow {
  0% {
    transform: translate(-50%, -45px);
    opacity: 0;
  }

  50% {
    transform: translate(-50%, 0);
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate(-50%, 45px);
  }
}

@media screen and (max-width: 1000px) {
  .skills-box {
    width: 100%;
  }

  .skills-wrapper {
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .skills-wrapper li {
    width: 100%;
  }
}
